
   <!DOCTYPE html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
       <link rel="stylesheet"  href="/css/bootCss/bootstrap.min.css" >
       <link rel="stylesheet"  href="/css/app.css" >
   </head>
   <body>
       <%- include('../partials/header') %>
       <div class="main-content-wrapper">
        <h1>Hello everyone</h1><br>
    </div>
   

        dfchbjkl
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src='/js/bootJs/bootstrap.min.js'></script>
       
   </body>
    