<!DOCTYPE html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
       <link rel="stylesheet"  href="/css/uiCss/uikit.min.css" >
       <link rel="stylesheet"  href="/css/app.css" >
       <script data-ad-client="ca-pub-3571088856723356" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>    
    </head>
   <body>
        <%- include('../partials/header') %>
        <%- body %>
        <!-- includinfg the partial foort-->
        <%- include('../partials/footer') %>
        
   </body>