
   <!DOCTYPE html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
       <link rel="stylesheet" href="/css/uiCss/uikit.min.css" >
       <link rel="stylesheet"  href="/css/cart.css" >
   </head>
   <body>
       <%- include('../../partials/header') %>
        <!-- includinfg the partial foort-->
        <%- include('../../partials/footer') %>
       
   </body>
    