
        <section class="status">
            <% if(messages.success) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.success %></span></pre>
			<% } %>
            <div class="uk-container">
                <div class="status-box">
                    <div class="uk-flex" uk-grid>
                        <div class="uk-width-expand"><h3>Track Delivery Status</h3></div>
                        <div class="uk-width-expand" style="text-align: right;"><h6 style="color: rgb(224, 59, 95);"><%= order._id %></h6></div>
                        <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>" >
                    </div>
                    <ul>
                        <li class="status_line" style="padding-bottom: 4rem;" data-status="Order_Accepted"><span>Order Placed</span></li>
                        <li class="status_line" style="padding-bottom: 4rem;" data-status="Confirmed"><span>Order Confirmed</span></li>
                        <li class="status_line" style="padding-bottom: 4rem;" data-status="Prepared"><span>Order Prepared</span></li>
                        <li class="status_line" style="padding-bottom: 4rem;" data-status="Out_For_Delivery"><span>Out For Delivery</span></li>
                        <li class="status_line" data-status="Completed"><span>Completed</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <script>
            const oderlert = document.getElementById('order-alert')
            if(oderlert){
                setTimeout(()=>{
                    oderlert.remove()
                },2000)
            }
        </script>
        <script src="/js/order.js"></script>
