body {
  color: #212121;
  font-family: arial;
  margin: 0 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: inherit 0; }

a:hover {
  text-decoration: none; }

.cart-button:hover {
  background-color: #1c60e0; }

body {
  color: #c52323;
  -webkit-font-smoothing: antialised; }

.cart-button {
  border: 2px solid white;
  background-color: blue;
  padding: 10px;
  margin-right: 2rem;
  border-radius: 25%; }
  .cart-button:hover {
    background-color: #1c60e0; }
