
	<div class="uk-container uk-text-center">
		<p>Signup page</p>
		<form action="/register" method="POST">
			<pre>
			<% if(messages.info) { %>
				<span class="uk-alert-danger" uk-alert><%= messages.info[0].message %></span>
			<% } %>
			<label for="Username">Username :  </label><input name="username" value="<%= messages.info ? messages.info[0].name : '' %>" id="Username" type="text/plain" placeholder="username" minlength="5" maxlength="12" size="12" uk-tooltip="title: Must Be unique; pos: right;duration: 500;delay: 200" autocomplete="username"/><br/>
			<label for="Password">Password :  </label><input name="password" id="Password" type="password" placeholder="password" minlength="6" size="13" maxlength="14"  uk-tooltip="title: Must contain atleast 8 characters; pos: right;duration: 500;delay: 200" autocomplete="new-password"/><br/>
			<label for="EmailUser">Email        :  </label><input name="email" value="<%= messages.info ? messages.info[0].email : '' %>" id="EmailUser" type="email" placeholder="Email" size="25" uk-tooltip="title: Email-Verification will be done; pos: right;duration: 500;delay: 200" autocomplete="email"/><br/>
			<label for="AgeUser">Age          :  </label><input name="age" id="AgeUser" value="<%= messages.info ? messages.info[0].age : '' %>" type="number" placeholder="AgeUser" maxlength="3" uk-tooltip="title: >18; pos: right;duration: 500;delay: 200" autocomplete="age"/><br/>
			<button type="submit" id="SubmitDetails">Register</button>   Already a member , <a href="/login">Login</a>
			</pre>
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
		</form>
		<pre id="locationpara"> </pre>
		<img style="vertical-align:middle;" src="" id="imageBox"/><pre style="vertical-align:middle; display:inline;" id="currentpara"></pre>
		<p id="forecastpara"></p>
	</div>
	<div class='pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/0D9C8209D075294935560801A1CCB472'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/11.png' /></a></div> 

