$primary:#c52323;
$secondary: #f0f0f0;
$primary-hover:#222222;
$nav-text-pirmary: rgb(248, 231, 231);
$nav-text-pirmary-hover: #FFFFFF;
$nav-background: #512DA8;
$dark: black;
$gray: grey;

$main-content-begins:4rem;
$main-content-ends:2.5rem;

