@import './variables';
$myfont: Georgia 1.1em;
$table_row_col: rgb(15, 14, 14);
body {
    color:$primary;
    -webkit-font-smoothing:antialised;
}

.main-content-wrapper {
    padding-top: $main-content-begins;
}