@import './variables';
@import './_allfiles';
$myfont: Georgia 1.1em;
$table_row_col: rgb(15, 14, 14);
body {
    color:$primary;
    -webkit-font-smoothing:antialised;
}

.cart-button{
    border:2px solid white;
    background-color: blue;
    &:hover{
        background-color: rgb(28, 96, 224);
    }
    padding: 10px;
    margin-right:2rem;
    border-radius: 25%;
}

