<!DOCTYPE html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
       <link rel="stylesheet" href="/css/uiCss/uikit.min.css" >
       <link rel="stylesheet"  href="/css/cart.css" >
   </head>
   <body>
       <%- include('../../partials/header') %>
        <!-- includinfg the partial foort-->
        <div>

            Add New Product<br/>
            <% if(messages.error) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.error %></span></pre>
			<% } %>
            <form method="POST" action="/admin/product/addnew" class="uk-form-horizontal uk-margin-large">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Name</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="name" id="form-horizontal-text" type="text" placeholder="Some text...">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Price</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" name="price" id="form-horizontal-text" type="number" placeholder="Some text...">
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Select</label>
                    <div class="uk-form-controls">
                        <select name="size" class="uk-select" id="form-horizontal-select">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>
                </div>
            
                <button class="uk-button uk-button-primary" type="submit">Submit</button>
            
            </form>
        </div>
        <script src="/js/admin.js"></script>
        <%- include('../../partials/footer') %>
        
   </body>
    