
        <div>

            All Orders<br/>
            <% if(messages.success) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.success %></span></pre>
			<% } %>
            <% if(orders.length) { %>
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Customer</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Placed at</th>
                        </tr>
                    </thead>
                    <tbody id="orderTableBody">
                        
                    </tbody>
                </table> 
            <% } else { %>
                <ul class="uk-list uk-list-striped">
                    <li>No Orders Pending</li>
                </ul>
            <% } %>
        </div>
        <a href="#" style="height:1.5rem;color: black;text-align: center;background-color: skyblue; width: 2rem;border-radius: 50%;z-index: 1;position: fixed;margin-top: calc(100vh - 50px);margin-left: calc(100vw - 5rem);padding-top: 1rem;" uk-totop uk-scroll></a>
    
        <script src="/js/admin.js"></script>

    