
        <div>

            Add New Product<br/>
            <% if(messages.error) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.error %></span></pre>
			<% } %>
            <% if(messages.success) { %>
				<pre id="order-alert"><span class="uk-alert-success" uk-alert><%= messages.success %></span></pre>
			<% } %>
            <% if(products.length) { %>
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody id="productTableBody">
                        
                    </tbody>
                </table> 
            <% } else { %>
                <ul class="uk-list uk-list-striped">
                    <li>No Products to Showcase</li>
                </ul>
            <% } %>
        </div>
        <script src="/js/admin.js"></script>
